@model PagedList.IPagedList<Course_Stock.Models.Material>
@using PagedList.Mvc

@{
    Layout = null;
}



<div id="content">
    <h1> Материалы </h1>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    <input type="button" class="btn btn-primary" value="Выбор" onclick="location.href='@Url.Action("ViewTables", new { id = item.id })'" />
                </td>
            </tr>
        }

    </table>

    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    <div id="contentPager">
        @Html.PagedListPager(Model, page => Url.Action("Index", new {page }))
    </div>

    @if (User.IsInRole("Manager"))
    {
        <input type="button" class="btn btn-primary" value="Добавить новый материал" onclick="location.href='@Url.Action("CreateMaterial")'" />
    }
    <br> <br>
    <div>
        <input type="button" class="btn btn-primary" value="Обратно" onclick="location.href='@Url.Action("Index", "Home")'" />
    </div>
</div>